In [1]:
## Calculate the sum of first N natural numbers using a while and for loop.

## while loop

n=10
sum=0
count=1

while count <=n:
    sum=sum+count
    count=count+1
print("sum of first 10 natural numbers:", sum)

sum of first 10 natural numbers: 55

In [3]:
## for loop
num =10
sum=0
for i in range(11):
    sum=sum+i
print(sum)

55

In [ ]:
## Display the prime number between 1 and 100

for num in range(1.100):
    if num>1:
        for i in range(2,num)
            if num%i==0:
                break
        else:
            print(num)

In [2]:
# Print the elements of the following list using a loop:
# [1,4,9,16,25,36,49,64,81,100]
lst = [1,4,9,16,25,36,49,64,81,100]

for value in lst:
    print(value)

1
4
9
16
25
36
49
64
81
100

In [ ]:
#  Search for a number x in this tuple using loops:
# [1,4,9,16,25,36,49,64,81,100]
# this is a linear search

num = (1,4,9,16,25,36,49,64,81,100)
x = 100
for value in num:
    if(value==x):
        print("found")

found

In [6]:
## finding number along with index
num = (100,1,4,9,16,25,36,49,64,81,100)
x = 100
idx = 0

for value in num:
    if(value==x):
        print("number found at idx", idx)
    idx +=1

number found at idx 0
number found at idx 10

In [8]:
## with ranges 

for i in range(10): # range(stop)
    print(i)

0
1
2
3
4
5
6
7
8
9

In [9]:
for i in range(2,10): # range(start,stop)
    print(i)

2
3
4
5
6
7
8
9

In [10]:
for i in range(2,10,2): # range(start,stop,step)
    print(i)

2
4
6
8

In [ ]:
## try below examples and contribute to repo
'''
using for & range()
Print numbers from 1 to 100
Print numbers from 100 to 1
Print the multiplication table of a number n
'''

In [ ]:
# wap to find the sum of first n numbers. using while
n = 7
sum = 0
i = 1

while i <= n:
    sum += i
    i +=1
print("total sum =", sum)

In [14]:
# wap to find the factorial of first n numbers. using for
n = 5
fact =1
i =1

while i <= n:
    fact *= i
    i +=1
print("total fact is ", fact)

total fact is  120